.table{
    border-bottom: 1px solid whitesmoke;
    max-width: 65%;
}
#header{
    background-color: rgb(103 101 101);
    width:75%;
    margin:auto;
    border-radius: 10px;
    box-shadow: 0 1px 2px 0px whitesmoke;
    color: rgb(103 101 101);
}
#button{
    background-color: #282c34;
    border:#282c34;
}
#search{
    outline: rgb(103 101 101);
}